.deps
Makefile*
*.m4
autom4te.cache/
build/
configure*
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
run-tests.php
.libs/
*.la
*.lo
modules/
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
